.page {
  --background: #fafafa;
  --foreground: #fff;

  --text-primary: #000;
  --text-secondary: #666;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
}

.main {
  display: flex;
  flex: 1;
  width: 100%;
  max-width: 800px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--foreground);
  padding: 120px 60px;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 24px;
}

.intro h1 {
  max-width: 320px;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -2.4px;
  text-wrap: balance;
  color: var(--text-primary);
}

.intro p {
  max-width: 440px;
  font-size: 18px;
  line-height: 32px;
  text-wrap: balance;
  color: var(--text-secondary);
}

.intro a {
  font-weight: 500;
  color: var(--text-primary);
}

.ctas {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 440px;
  gap: 16px;
  font-size: 14px;
}

.ctas a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0 16px;
  border-radius: 128px;
  border: 1px solid transparent;
  transition: 0.2s;
  cursor: pointer;
  width: fit-content;
  font-weight: 500;
}

a.primary {
  background: var(--text-primary);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--button-secondary-border);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }
}

@media (max-width: 600px) {
  .main {
    padding: 48px 24px;
  }

  .intro {
    gap: 16px;
  }

  .intro h1 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1.92px;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }

  .page {
    --background: #000;
    --foreground: #000;

    --text-primary: #ededed;
    --text-secondary: #999;

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
    --button-secondary-border: #1a1a1a;
  }
}
.primaryContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
}
.container {
  width: 377px;
  height: 290px;
  top: 140px;
  left: 532px;
  border-radius: 6px;
  padding-top: 24px;
  padding-right: 16px;
  padding-bottom: 24px;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 6px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.16);
  box-sizing: border-box;
}
.piContainer {
  width: 345px;
  height: 187px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.piFooter {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #6b7280;
}
.innerContainer {
  width: 345px;
  height: 138px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.containerFooter {
  width: 345px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.CFT1 {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(107, 114, 128, 1);
}
.CFT2 {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(59, 115, 237, 1);
}
.todolist {
  font-family: sans-serif;
  font-weight: 600;
  font-style: Bold;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -2.5%;
  text-align: center;
}
.addtaskContainer {
  width: 345px;
  height: 38px;
  display: flex;
  align-items: center;
  gap: 6px;
}
.addtask {
  width: 280px;
  height: 40px;
  border-radius: 6px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  border-width: 1px;
  border: 1px solid var(--border-border-border, #e4e4e7);
}
.buttons {
  width: 345px;
  height: 32px;
  display: flex;
  gap: 6px;
}
.buttonAdd {
  width: 59px;
  height: 40px;
  border-radius: 6px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #3c82f6;
}
.buttonAll {
  width: 38px;
  height: 32px;
  border-radius: 6px;
  padding-top: 4px;
  padding-right: 12px;
  padding-bottom: 4px;
  padding-left: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #f3f4f6;
}
.buttonActive {
  width: 60px;
  height: 32px;
  border-radius: 6px;
  padding-top: 4px;
  padding-right: 12px;
  padding-bottom: 4px;
  padding-left: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #f3f4f6;
}
.buttonComplete {
  width: 87px;
  height: 32px;
  border-radius: 6px;
  padding-top: 4px;
  padding-right: 12px;
  padding-bottom: 4px;
  padding-left: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #f3f4f6;
}
